* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../images/abstract.jpg);
  background-size: cover;
}

#title {
  text-align: center;
  font-family: Brush Script MT, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  color: white;
  background-color: #00a6ed;
}

.selector {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.date {
  font-size: 30px;
  font-family: fantasy;
  padding: 0px 10px;
  background-color: #00a6ed;
  color: white;
  border-radius: 5px;
}

#date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

#calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 550px;
  margin: 10px;
}

.selected-day-box {
  background-color: #00a6ed;
  width: 70px;
  height: 40px;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  border: 2px solid #005a81;
}

.day-box {
  background-color: #747e88;
  width: 70px;
  height: 40px;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}

.entryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-align: center;
  color: white;
  font-family: Brush Script MT, "Arial Narrow Bold", sans-serif;
  font-size: 35px;
  background-color: #00a6ed;
  width: 400px;
}

.inputBox {
  max-width: 400px;
  min-width: 400px;
  min-height: 100px;
  margin: 0px 0px 10px 0px;
  background-color: white;
  border: 1px solid #00a6ed;
  font-family: Brush Script MT, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

.submitButton {
  background-color: #00a6ed;
  color: white;
  font-family: fantasy;
  border: 0;
  padding: 8px;
  border-radius: 8px;
}
